<link rel="stylesheet" href="/css/index.css">

<h1>Bienvenido a "Ni pa la muela API"</h1>

<div class="indexDiv">
    <h2>Elige que quieres hacer</h2>
    <div class="btnsIndex">
        <a href="/reviews" class="fa">Agrega una review</a>
        <a href="/restaurants" class="sa">Agrega un restaurante</a>
        <a href="/contacts" class="ta">Agrega un Contactos</a>
    </div>


</div>
    <p><a href="https://github.com/MartinFitS">Developed @mserna</a></p>