<link rel="stylesheet" href="/css/index.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/navbar.css">


<h1>Bienvenido a "Ni pa' la muela API"</h1>

<div class="indexDiv">
    <h2>Elige qué quieres hacer.</h2>
    <div class="btnsIndex">
        <a href="/reviews" class="fa">Agrega una review</a>
        <a href="/restaurants" class="sa">Agrega un restaurante</a>
        <a href="/contacts" class="ta">Agrega un contacto</a>
    </div>


</div>
