.titleFormEditReview{
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 45px;
}
.addReviewA{
    font-size: 20px;
    margin-left: 39%;
}
.viewTableOfReviews{
    padding-left: 15px;
    font-size: 20px;
}
.formIndexEditReview form label{
    font-size: 20px;
    padding: 10px;
}

.formIndexEditReview{
    margin-left: 25%;
    width: 50%;
    height: 480px;
}

.formIndexEditReview form{
    width: 100%;
    height: 490px;
    background-color: beige;
}

.tsd{
    padding-top: 10px;
    width: 100%;
    height: 50px;
}

.tsd input{
    width: 70%;
}

.dsd{
    width: 100%;
    height: auto;
}

.dsd textarea{
    width: 90%;
    margin-left: 5%;
}

.rsd{
    margin-top: 20px;
    width: 100%;
    height: 50px;
}

.rsd select{
    width: 75%;
    height: 25px;
}

.psd{
    width: 100%;
    height: 40px;
}

.psd input{
    width: 72%;
}

.prsd{
    width: 100%;
    height: 40px;
}

.prsd input{
    width: 70%;
}

.csd{
    width: 100%;
    height: 40px;
}

.csd select{
    width: 63%;
    height: 25px;
}

input{
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 15px;
    border-bottom: 2px solid rgb(66, 63, 63);
}

button{
    background-color: rgb(29, 131, 29);
    color: white;
    border: none;
    margin-top: 10px;
    width: 40%;
    height: 40px;
    margin-left: 30%;
    font-size: 20px;
}