*{
    font-family: 'Manrope', sans-serif;
}
h1{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    margin-top: 78px;
    margin-bottom: 50px;
    font-weight: 800;
}

p{
    margin-left: 10%;
    margin-top: 60px;
}

.indexDiv{
    width: 80%;
    height: 226px;
    background-color: rgb(233, 213, 188);
    margin-left: 10%;
    border-radius: 10px;
}

.indexDiv h2{
    padding-top: 25px;
    padding-bottom: 70px;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

.fa{
    margin-left: 25%;
}

.sa{
    margin-left: 10px;
}

.ta{
    margin-left: 10px;
}

.indexDiv a{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    color: white;
    font-size: 18px;
    background-color: rgb(24, 121, 24);
    text-decoration: none;
    transition: 250ms;
    padding: 15px;
}

.indexDiv a:hover{
    transition: 250ms;
    background-color: rgb(24, 121, 24);
    cursor: pointer;
    color: white;
    box-shadow: green 0px 2px 30px;
}

